@font-face {
    src: url("CodeBlue times fonts/TradeGothicLTStd-Cn18.otf");
    font-family: Trade Gothic LT Std;

}

@font-face {
    src: url("CodeBlue times fonts/Lucida Sans Typewriter/lucidatypewriterregular.ttf");
    font-family: Lucida Sans Typewriter;
}