*::-webkit-scrollbar {
    border-radius: 3rem;
}

*::-webkit-scrollbar-track {
    background: var(--background-dark, #02121F);
    border-radius: 3rem;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    width: 10%;
    border-radius: 3rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*::-webkit-scrollbar-corner {
    display: none;
}