<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <title>Document</title>
</head>
<style>
    body,
    td,
    tr,
    table {
        padding: 0;
        margin: 0;
    }

</style>

<body >
    <table
        style="border-collapse: collapse; font-family: sans-serif;   max-width: 600px; box-sizing: border-box; margin: auto; background-color: #02121F;">
        <tr >
            <td>
                <img style=" box-sizing: border-box; margin-left: 70%; width: 120px; margin-top: 2.5em;"
                    src="https://codebluetimes.com/images/CODEBLUE%20TIME.png" alt="CODEBLUE TIME">
            </td>
        </tr>
        <tr >
            <td style="padding-left: 4em; ">
                <h1 border-color="#1F2D3A"
                    style="width: 80%;padding-bottom: 1em;font-family: Lucida Sans Typewriter;border:0; border-bottom:1px; border-style: solid; line-height: 3.5rem;letter-spacing: 0.1875rem; font-weight: 400; text-transform: uppercase; font-size: 3em;  color: #009AFE;border-color:#1F2D3A;  ">
                    <img src="" alt="">Set up your
                    <span style="font-family: Lucida Sans Typewriter; color: rgb(249, 243, 243);">Password_</span>
                </h1>
                <h2 style="text-transform: uppercase;font-family: Lucida Sans Typewriter; color: rgb(255, 255, 255);">
                    Hi, <%= username %></h2>
                <p style=" font-family: Roboto; line-height: 1.125rem; color: rgb(255, 255, 255); width: 80%">You
                    have been added
                    as a
                    user to Codeblue
                    Times
                    click here to set up your Password.
                </p>
                <a style="cursor: pointer;" href="<%= setupLink %>">
                    <button
                        style="cursor: pointer;font-family: Trade Gothic LT Std; margin-top: 2em ;padding: .8em; background-color:  #009AFE; letter-spacing: 0.0625rem;color: white; border: 0; font-family: sans-serif; text-transform: uppercase; font-weight: 400; font-size: 1rem;">
                        Set UP Password
                    </button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <img  style="display: block;" src="https://codebluetimes.com/images/Screenshot%202023-08-16%20140532.png"
                    alt="Screenshot 2023-08-16 140532">
            </td>
        </tr>
    </table>
</body>



</html>