@font-face {
    font-family: Trade Gothic LT Std;
    src: url('CodeBlue times fonts/TradeGothicLTStd-Cn18.woff2') format('woff2'),
        url('CodeBlue times fonts/TradeGothicLTStd-Cn18.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    src: url("CodeBlue times fonts/Lucida Sans Typewriter/lucidatypewriterregular.ttf");
    font-family: Lucida Sans Typewriter;
}

@import url('css/autofill.css');