.Label-P {
    position: absolute;
    bottom: 10px;
    left: .5em;
    color: inherit;
    z-index: -1;
}

.go-up-P {
    top: -10px;
}

.exIcon-Styling {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.exIcon-toRight {
    right: 20px;
}
label{
    /* position: relative; */
    font-family: Trade Gothic LT Std;
    line-height: 0.875rem;
    letter-spacing: 0.035rem;
    color: gray;
    font-size: 14px;
    z-index: 1;
}
.hidden{
    display: none;
}

